<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<style>
    .bg-custom-1 {
        background-color: #85144b;
    }

    .bg-custom-2 {
        background-image: linear-gradient(10deg, #fb8b23 0%, #000000 100%);
    }
</style>
<nav class="navbar rounded navbar-expand-lg navbar-dark bg-dark navbar-inverse border-dark bg-custom-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="btn btn-primary" href={{ url_for('index') }}>Home</a>
            <a class="nav-link" href={{ url_for('funko_pop') }}>Funko Pops</a>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">CRUD</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/searchbar/">Search</a>
                    <a class="dropdown-item" href="/crud/">CRUD</a>
                </div>
            </li>


    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">About Us</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/LucasAboutMe/">About Lucas</a>
                    <a class="dropdown-item" href="/KianAboutMe/">About Kian</a>
                    <a class="dropdown-item" href="/IanAboutMe/">About Ian</a>
                    <a class="dropdown-item" href="/GavinAboutMe/">About Gavin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Pokemon</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/Pokedex/">Pokedex</a>
                    <a class="dropdown-item" href="/pokemoncards/">Pokemon Cards</a>
                    <a class="dropdown-item" href="/FPCPokemon/">FPC Pokemon</a>
                    <a class="dropdown-item" href="/PokemonBattle/">Pokemon Battle</a>
                    <a class="dropdown-item" href="/pokemongo/"> Pokemon Go</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Fortnite</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('sports_cards') }}>Fortnite</a>
                    <a class="dropdown-item" href="/FortniteTracker/">Fortnite Shop</a>
                    <a class="dropdown-item" href="/Fortnite/">Fortnite Item Database</a>
                    <a class="dropdown-item" href="/FortniteTracker/">FortniteTracker</a>
                    <a class="dropdown-item" href="/Fortnite/">Fortnite</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Funko Pop Catalog</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/F1Schedule/">F1 Schedule</a>
                    <a class="dropdown-item" href="/CollectablesGame/">Collectables Game</a>
                    <a class="dropdown-item" href="/FPCStarWars/">Funkos: StarWars</a>
                    <a class="dropdown-item" href="/FPCToyStory/">Funkos: Toy Story</a>
                    <a class="dropdown-item" href="/FPCPokemon/">Funkos: Pokemon</a>
                    <a class="dropdown-item" href="/Pokedex/">Pokedex</a>
                    <a class="dropdown-item" href="/PokemonBattle/">PokemonBattle</a>
                    <a class="dropdown-item" href="/Random/">Random</a>
                </div>
            </li>

            <div class="search">
                <input id="search" type="search" placeholder="Search" aria-label="Search">
            </div>
            <script>
                const search = document.getElementById('search');
                const joe = 'https://www.google.com/search?q=site%3A+';
                const site = 'https://pokeman.cf';

                function submitted(event) {
                    if (event.key === 'Enter') {
                        event.preventDefault();
                        const url = joe
                            + site
                            + '+'
                            + search.value;
                        const win = window.open(url, '_blank');
                        win.focus();
                    }
                }
                search.addEventListener('keypress', submitted);
            </script>

            <div id="google_translate_element"></div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement(
                        {pageLanguage: 'en'},
                        'google_translate_element'
                    );
                }
            </script>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        </div>
        <style>

            input:hover {

                /* Styling for search bar when we hover on
                  it to show the shadow of the search bar
                The attributes for box-shadow are:
                offset-x | offset-y | blur-radius | color */
                box-shadow: 0px 1px 3px rgb(192, 185, 185);
                background-color: #D3D3D3; /* Green */
                color: white;
                /* You can play with these values to
                get your desired shadow effect */
            }

            </style>


    </div>
</nav>