<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Categories</title>
    <style>
        body {
            background-image: url("/static/assets/LGcreatetask/background.jpg");
        }
        .buttons {
            height: 250px;
            margin-top: 175px;
            margin-left: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }
    </style>

</head>
<body style="height: auto;">
<h1 style="text-align: center; color: white;">Star Wars Categories</h1>
<div class="buttons">
    {% for x in topic %}
    <!--    iteration that puts dictionary under route in main.py repeatedly inside "buttons" css-->
    <div class="text">
        <a href="{{x['file4']}}">
            <img src={{x["topic4"]}} alt="none" style="height: 250px;">
        </a>
    </div>
    {% endfor %}
</div>
</body>
</html>
{% endblock %}